[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
requests = "*"
google-genai = "*"
pillow = "*"
python-dotenv = "*"
replicate = "*"

[dev-packages]

[requires]
python_version = "3.12"
