{% extends 'base.html' %}

{% block content %}
<div class="login-viewport">
  <div class="login-card fade-in-up card">
    <div class="card-body">
      <h2 class="mb-2 text-center">Set a new password</h2>
      <form method="post" class="mt-3">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex justify-content-center mt-3">
          <button type="submit" class="btn btn-success">Set new password</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
